<h2>Edit Customer</h2>

<%= form_with(model: @customer, local: true) do |form| %>

  <h2>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </h2>

  <h2>
    <%= form.label :nphone %><br>
    <%= form.text_field :phone %>
  </h2>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>