<h2>All Customers</h2>

<%= link_to 'Black list', black_list_path, class: "btn btn-primary" %>
<hr>

<% @customers.each do |customer| %>

  <% if !customer.black_list %>

    <h3 class="mt-5"><%= customer.name %></h3>
    <p><%= customer.phone %></p>
    <p><%= customer.description %></p>

    <%= link_to 'Edit', edit_customer_path(customer), class: "btn btn-outline-primary" %>
    <%= link_to 'Push to black list', customer_path(customer), method: :delete, class: "btn btn-outline-primary" %>
    <hr>
  <% end %>

<% end %>