<h2>All Customers</h2>

<%= link_to 'Black List', black_list_path %>

<% @customers.each do |customer| %>

  <% if !customer.black_list %>
    <h3><%= customer.name %></h3>
    <p><%= customer.phone %></p>
    <p><%= customer.description %></p>

    <%= link_to 'Edit', edit_customer_path(customer) %>
    <%= link_to 'Push to Black List', customer_path(customer), method: :delete %>
  <% end %>

<% end %>